---
---
<!-- 
Ah nice you've found my little hidden comment. 

@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%####%#####%%%%%###################%@
@#%%%%%%%%%%%%%%%%%%%%%%%%%%%%#########################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#@
%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%######################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*%
@#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%########################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#@
@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%########################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##########################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
%#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%############%###############%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
@#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%##################################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
@#%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#######################################################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#*#################################%######################%%%%%%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#############################################################%%%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#*#############################################################%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#*############*#################################################%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%############%%%%%%%##############################%################%####%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#*#############%#############################+#########################%%%%%%%%%%%##%%@
@%%%%%%%%%%%%%%%%%%%%%##%%%%%%%%%%##%%%%%%%%%%%#*#############%##%%%%######################*-###########################%%%%%%%%%#*#%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%################%####%###############*--+######=##########%#######%%#####%%%#*#%%%%%##%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*+*#############%###################*---*######=+#####*##%%%######*++*#####%###%%%%%##%@
@%%%%%%%%%%%%%%%%%%%%%####%%%%%%%%%%%%%%%%%%%#*+*####%%#######%####################+++*######--*###**#+##%#####+***##%##%%%%#%%%%%##%@
@%%%%%%%%%%%%%%%%%%%%#*##%%%%#%%%%%%%%%%%%%#*##*##*#**#%######%##################*+==+###+.-:-=*####+#####**###***+#%%##%%%##*######%@
@%%%%%%%%%%%%%%%%%%%%%%%##%##*#%%%%%%%%%##******##+++=--==-=**#####**=########=::--:-+++*-:-*=*###*##****##*+=-=+*##**#%%######%#%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%###%%%%%%%%%##**###*##*=*+.::-+*:=+*=#####****###+=+*##+:::---==--#**##****#######=--===+***%%%%#%###%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%##%%%%%+-=*%#*##%%%%#-**--=-:=****##*####**###########*-::-:-*+--#*+++*+*#%%####%+-=+*===*%%%%%%%##%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%##%%%%%-=***###%%%%%#-++==+:-+*#*###++***+++#########**-::=:=*==:*+#%#=*##%%**%+==--***+*#%##%%%%%#%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%###%%%%%%++++=*=*#%%%#--+*****##*#*###==###########*****+==++*=+=:+%%%###*%%#=*##=--+##*+#####%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%###%%%%%%#++++=+*#%%%*++*****#**##########*##*###*****+::-:=-=+*=+##%+=++*==+++*#%**##%##%%*###%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%#########++=-=+*##%#**#*##****###############*-===-+::=+*++*+**+####=-+*+=*+=++*#%%%%%%%%%#####%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%#########*++-=+*###%#**#**########********+=--=*#*==+-=+-=--=-+**#=*#==*#+**+++*##%%%%%%%%%####%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%#############+=--+#*%%%%#**+******####*+++===----=*##*-=*-=+-----==+==--::=+=+#++**###%%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%%%#**++---=*##%%++===*#****#*###+=---===**+----:-=:-.::-+++*###*++=*##+*++**###%%%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%%%%%%%%**++-+-=-+**#*%*---=*#*****####*-+*####=-====*#+*=+-.-. .:+*#%##++*%#***+*##*##%%%%@%%%%%%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%%%%%%%%#=+**=+=++=***##*#*+-=*******#####*=+#+##*+*++*####*##*=-+:-+########***#######*##%#%%%%%%%%%%%%%%%%%%%%%%%%@
@%%%%%%%%%%%%%%%%%%%%#**+++++*+=*+**#*#%%#*#*+********######*################*#****++**######**+*#****#*#*%#%%%%%%%%%%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%%%#+++******#*#+****%%%#+##*#******####*##+#%%#######%%%###*#********#%%%%%++====+++****%###%%@%%%%%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%%#*######**+**+#+****###+##****#**####**###***#######%%%%%%%#*****####%%%#+++++*+****++###*#%%@@@%%%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%#**#%%##***###*+#****%%###*******#*#*****##****######%%%%%%%%*****###%%%%+++*+++*##*+*#*********#@@%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%###%%############*++*%%####*:-****#####*###%%%%%%%%%%%%%%%%%%%#****##%%%#+++*****##+*##%%%%%%%%%%%@@%%@%%%%%%%%%#%#@
@%%%%%%%%%%%%%%%%##%%%%%%############%###*###+..=**#%%%#-:=*%%%%%%%%%%%%%%%%%%%%%%#%%*#%%#+++*+#***#**###%%%%%%%%%%%%%%%%%%%%%%%%%%##@
@%%%%%%%%%%%%%##%%#%%%%%%%#%###########*###%%=:-*###%%%%+=+*%%%%%%%%%%%%%%%%%%%%%%%%#+*%%*+*+####*##**#%#%%%%%%%%%%%%%%%%%%%%%%%%%%%*%
@%%%%%%%%%%#%%##%%%%%%%#%##%###########%%%%%%=-+**##%%%%%*-=#%%%%%%%%%%%%%%%%%%%%%%%**#%#***+*#%%%%%**#%*%%%%%%%##%%%%%%%%%%%%%%%%%%*%
@%%%%%%%%%%%%%%%#%%##%##%%%#####%######%%%%%%--***#####%%%*-*%%%%%%%%%%%%%%%%#**********++*+*##%%%%==##%*##%%%#####%%%%%%%#%%%%%%%%%*%
@%%%%%%%%%%%%%%%%%%%%%%%%%%###**++**########*-+##*#######%#*=##%#%%#%%%%#####*+########==**+******==+*##+#####%##%#%%%%%#%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%%%%%%%%%####*+++*+##***+-:-=*##%##%##*****=*%*****######**********++***++**%**++###########%%%%%#%%%%%%%%%%%%%%%%%#@
@%%%%%%%%%%%%%%%%%%%%%%%%%##########*************************************************++++**++++*++##############%##%%%%%%%%%%%%######@
@#%%%%%%%%%%%%%%%%%%%%%#####*************************************+++*+++++++++++++++++++++++++++++#######%##########%###*************@
@*%%%%%%%%%%%%%%%%%%%#%%#####*******************************++++++++++++++++++++++++++++++++++++++++++=+++++++++++++****************#@
@#%%%%%%%%%%%%%#%%%%########**********************+++++++++++++++++++++*++++++++++++++++++++++++++++======+++++++++++++*************#@
@%%%%%%%%#%%#####################################################******#####**####################################################%%%@

Have fun :) 
--> 
<head>
  <script>
    // Immediately set the initial theme to reduce white flash
    (function() {
      const darkMode = localStorage.getItem('darkMode') === 'true';
      const className = darkMode ? 'darkMode' : 'lightMode';
      document.documentElement.classList.add(className);
      document.documentElement.classList.add('enable-transitions');
    })();
  </script>

  <title>
    My Small Ecofriendly Blog
  </title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat");

    @media (max-width: 1000px) {
      .profilePhoto {
        display: none;
      }
    }

    .lightMode {
      background: cornflowerblue;
    }

    .darkMode {
      background: black
    }

    * {
       font-family: 'Montserrat', sans-serif;
       color: whitesmoke;
    }

    .lilPadding {
      padding: .5em
    }

    .profilePhoto {
      max-height: 90%;
      max-width: 20%;
      border-radius: 20%;
    }

    .aboutContainer {
      display: flex;
    }

    .photoContainer {
      display: flex;
      max-width: 100%;  /* Limit image width to the container's width */
      height: auto;     /* Keep the height proportional */
      justify-content: space-between;
      align-items: center;
    }

    .photoContainer img {
      max-width: 100%;    /* Image can grow only up to 100% of its containing block */
      height: auto;       /* Maintain aspect ratio */
      width: auto;        /* Maintain aspect ratio, remove if you want max-width to take precedence */
    }

      
    body {
      max-width: 80em;
      margin: auto;
      transition: all 2s;
    }
  </style>
  
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <meta property="og:title" content="Chris's Small EcoFriendly Blog" />
  <meta property="og:description" content="Why are you sharing my blog? lol" />
  <meta property="og:url" content="https://www.chrisbako.com/" />
  <meta property="og:image" content="https://chrisbako.com/media/profile_photo.PNG" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZLW7M5WWY0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-ZLW7M5WWY0');
  </script>
</head>
<body>
{% for photodata in site.photography %}
  <div class="lilPadding">
    <h1> {{ photodata.title }} </h1>
    <p>
      {{ photodata.about }}
    </p>
    <div>
      {% for picture in photodata.pictures %}
      <h2> {{ picture.title }}</h2>
      <p> {{ picture.about }}</p>
      <div class="photoContainer">
        <img src="{{ picture.src }}" />
      </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
</body>
